.StringifyText{
    color: green;
    height:100px;
    width:200px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}

.blue{
    color: blueviolet;
}

.red{
    color: red;
}

.filterBox{
    /* color: red; */
    float: left;
}